.bg-history {
    background-image: url("../asset/background-history.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-history-one {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.title-history-two {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.title-history-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #000000;
}

.title-history-idr {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #895537;
}

.title-history-status {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6A4029;
}

.card_bar {
    margin: 10px;
    width: 400px;
    gap: 5%;
}

.deleted {
    background-color: #895537;
    padding: 20px;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 2s;
}

.card_bar:hover .deleted {
    display: flex;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 2s;
}

@media only screen and (min-width: 425px) {

    .bg-history {
        height: auto;
    }
}